# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints



# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db




.env
/colabupload/splits
colabupload/mimic_vital_signs_summary.csv
colabupload/mimic_procedures_detailed.csv
colabupload/mimic_prescriptions.csv
colabupload/mimic_lab_summary.csv
colabupload/mimic_key_labs.csv
colabupload/mimic_icustays.csv
colabupload/mimic_diagnoses_detailed.csv
colabupload/mimic_admission_summary.csv
colabupload/X_features.csv
